doctype html
html(lang='es')
  head
    title Elisabet Gonzalez Website
    meta(charset='utf-8')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css' rel='stylesheet')
  body
    block contenido
